{% extends "layout.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
    <div class="box">
         <h3 class="title">Edit post : {{ post.title }}</h3>
        <form method="POST" action="/posts/{{ post.id }}">
            <div class="field">
                <div class="control">
                    <input placeholder="{{ post.title }}" class="input" type="text" name="title" placeholder="Title" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <textarea placeholder="{{ post.body }}" class="input multiline" type="text" name="body" placeholder="Body" autofocus=""></textarea>
                </div>
            </div>

            <button type="submit" class="button is-block is-primary is-fullwidth">Save</button>
        </form>
    </div>
</div>
{% endblock %}