<form method="POST">
    <div class="field">
        <div class="control">
            <input class="input is-large" type="email" name="title" placeholder="Title" autofocus="">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input class="input is-large" type="text" name="body" placeholder="Title" autofocus="">
        </div>
    </div>

    <button type="submit">Save</button>
</form>