{% extends "layout.html" %}

{% block content %}
<div class="section is-fullheight container">
    <div class="is-flex is-spacebetween">
        <h2 class="title is-half">List of posts</h2>
        <a class="button is-primary" href="{{ url_for('main.new') }}"><strong>New post</strong></a>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    {% for post in posts %}
    <div class="box">
        <div class="content">
            <h3 class="is-small">{{ post.title }}</h3>
            <p>
                <strong>{{ post.user.name }}</strong> <small>{{ post.user.email }}</small>
                <br>
                {{ post.body }}
            </p>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}