{% extends "layout.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
    <div class="box">
         <h3 class="title">New post</h3>
        <form method="POST" action="/posts/create">
            <div class="field">
                <div class="control">
                    <input  class="input" type="text" name="title" placeholder="Title" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <textarea class="input multiline" type="text" name="body" placeholder="Body" autofocus=""></textarea>
                </div>
            </div>

            <button type="submit" class="button is-block is-primary is-fullwidth">Save</button>
        </form>
    </div>
</div>
{% endblock %}