html {
    height: 100%;
 }
 
 body {
    min-height: 100%;
 }

 .is-flexgrow {
    flex-grow: 1;
 }

 .is-flexcolumn {
  flex-direction: column; 
 }

 .is-fullheight {
    height: 100%;
 }

 .is-spacebetween {
    justify-content: space-between;
 }

 #particles-js {
    z-index: 2;
 }

 .particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3273dc;
    z-index: -1;
 }

 .section {
    background-color: white;
    padding-top: 1.5rem;
    border-radius: 6px;
 }

 .p-1 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
 }

 .multiline {
    height: 12rem;
 }