<!-- templates/index.html -->

{% extends "layout.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
  <div class="box">
    <h1 class="title">
      Microlly
    </h1>
    <h2 class="subtitle">
      Better than twitter.
    </h2>
    <a href="{{ url_for("main.index") }}" class="button is-primary is-fullwidth">
      <strong>Explore</strong>
    </a>
  </div>
</div>

{% endblock %}