<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Microlly</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body class="is-flex is-flexcolumn">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <h1 class="navbar-item">Microlly</h1>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('main.home') }}">
            Home
          </a>

          <a class="navbar-item" href="{{ url_for('main.index') }}">
            Posts
          </a>
          {% if current_user.is_authenticated %}
            <a class="navbar-item" href="{{ url_for('main.users_posts', id = current_user.id) }}">
              My posts
            </a>
          {% endif %}

          <a class="navbar-item" href="{{ url_for('main.users') }}">
            Users
          </a>

        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if not current_user.is_authenticated %}
              <a class="button is-primary" href="{{ url_for('auth.signup') }}">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="{{ url_for('auth.login') }}">
                Log in
              </a>
              {% endif %}
              {% if current_user.is_authenticated %}
              <a class="button is-primary" href="{{ url_for('auth.logout') }}">
                <strong>Log out</strong>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="is-flexgrow is-relative p-1" id="particles-js">
    {% block content %}{% endblock %}
  </div>
</body>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>