<!-- templates/login.html -->

{% extends "layout.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">
        <h3 class="title">Login</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            <i class="fas fa-exclamation-triangle"></i>
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-primary is-fullwidth">Login</button>
        </form>
    </div>
</div>
{% endblock %}