<!-- templates/signup.html -->

{% extends "layout.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="box">
        <h3 class="title">Sign Up</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button class="button is-block is-primary is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}