{% extends "layout.html" %}

{% block content %}
<div class="section is-fullheight container particles-js">

    <h2 class="title">List of users</h2>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    {% for user in users %}
    <div class="box">
        <div class="content">
            <h3 class="is-small">{{ user.name }}</h3>
            <p>
                <strong>{{ user.email }}</strong>
                <br>
            </p>
            <a class="button is-primary" href="{{ url_for('main.users_posts', id = user.id) }}"><strong>User posts</strong></a>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}