{% extends "layout.html" %}

{% block content %}
<div class="section is-fullheight container">
    <div class="is-flex is-spacebetween">
        {% if current_user == user %}
            <h2 class="title">List of my posts</h2>
        {% else %}
            <h2 class="title">List of {{ user.name }} posts</h2>
        {% endif %}
        <a class="button is-primary" href="{{ url_for('main.new') }}"><strong>New post</strong></a>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    {% for post in posts %}
    <div class="box">
        <div class="content">
            <h3 class="is-small">{{ post.title }}</h3>
            <p>
                <strong>{{ post.user.name }}</strong> <small>{{ post.user.email }}</small>
                <br>
                {{ post.body }}
            </p>
            {% if current_user == user %}
                <a class="button is-primary" href="{{ url_for('main.edit', id = post.id) }}"><strong>Edit</strong></a>
                <a class="button is-danger" href="{{ url_for('main.destroy', id = post.id) }}"><strong>Destroy</strong></a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}